<h1>Welcome
	<%= @owner.first %>
	<%= @owner.last %></h1>
<%= image_tag @owner.avatar.url(:medium) %>
<p><%= @owner.description %></p>
<%= link_to "edit owner", edit_owner_registration_path(@owner) %>
<br>
<h3>my dogs</h3>
<% @owner.dogs.each do |dog| %>
<%= image_tag dog.image.url(:medium) %><br>
<%= link_to dog.name, owner_dog_path(current_owner, dog) %><br>
<%= dog.description %><br>
<% end %>

<h3>my dogs pending approval</h3>
<% @owner.dogs.each do |dog| %>
<% dog.rentals.each do |rental| %>
<% if rental.pending? %>
<%= link_to rental.sitter.first, sitter_path(rental.sitter) %> for <%= rental.dog.name %><br>
<%= link_to "approve or deny", dog_rental_path(dog, rental) %><br>
<% end %>
<% end %>
<% end %>
<hr>
<h3>My pending Rentals</h3>
<% @owner.dogs.each do |dog| %>
<%= image_tag dog.image.url(:medium) %>
<%= link_to dog.name, owner_dog_path(current_owner, dog) %><br>
<%= dog.description %><br>

<% end %>


<br>
<%= link_to "add a dog!", new_owner_dog_path(current_owner) %>
