<div class="navPadding">
<div class="top-margin">
	<div class="container">
	    <div class="row product">
	        <div class="col-md-5 col-md-offset-0"><%= image_tag(@owner.avatar.url, class: "dog-show-img")%></div>
	        <div class="col-md-7">
	            <h2><%= @owner.first %> <%= @owner.last %></h2>
	            <p><%= @owner.description %></p><br>

							<% if current_owner == Owner.find(params[:id]) %>
							<%= button_to "edit owner", edit_owner_registration_path(@owner), method: :get, class:"btn btn-primary", type:"button" %><br>
							<%= button_to "add dog", new_owner_dog_path(@owner), method: :get, class:"btn btn-success", type:"button" %>

	        </div>

					</div>
			<br>
			<hr>

			<div class="page-header">
					<h3>My Pups</h3></div>
			<div class="row projects">
					<% @owner.dogs.each do |dog| %>
					<div class="col-lg-4 col-sm-6 item">
						<%= image_tag(dog.image, class: "img-responsive dog-index")%>
							<h3 class="name"><%=link_to dog.name, owner_dog_path(dog.owner, dog) %></h3>
							<p class="description"><%= dog.description %></p>
							<% if current_sitter != nil && current_sitter.rentals.all? {|rental| rental.pending == false && rental.done_renting == true} %>
							<%= link_to "rent dog",  new_dog_rental_path(dog) %>
							<% end %>
							<br>
					</div>
					<% end %>
			</div>

			<div class="page-header">
					<h3>Dogs Pending My Approval</h3></div>
			<div class="media">
					<div class="media-body">
						<% @owner.dogs.each do |dog| %>
						<% dog.rentals.each do |rental| %>
						<% if rental.pending? %>
							<h4><%= link_to rental.sitter.first, sitter_path(rental.sitter) %> wants to share <%= rental.dog.name %><br></h4>
							<%= link_to "approve or deny", dog_rental_path(dog, rental) %><br>
							<% end %>
							<% end %>
							<% end %>
					</div>
			</div>
			<br>

			<div class="page-header">
					<h3>My Dogs that are Being Shared</h3></div>
			<div class="media">
					<div class="media-body">
						<% @owner.dogs.each do |dog| %>
						<% dog.rentals.each do |rental| %>
						<% if rental.approved? && rental.done_renting == false %>
							<h4><%= rental.dog.name %></h4>
							<%= button_to "finish Pup Share", rental_path(rental), method: :patch, class:"btn btn-primary" %>
							<% end %>
							<% end %>
							<% end %>
					</div>
			</div>
	    <br>
			<% end %>
	    <hr>
	    <%= link_to "Back", :back, method: :get %>
	</div>
</div>
</div>
    </div>
