<div class="container">
<h1>Edit Your Pup.</h1>
<%= form_for @dog do |f| %>
<%= f.text_field :name, placeholder: "Name", class: "form-control" %></br>
<%= f.text_area :description, placeholder: "Description", class: "form-control" %></br>
<%= f.file_field :image, placeholder: "Image", class: "form-control" %>
<%= f.text_field :date_start, placeholder: "Start Date Available", class: "form-control" %>
TO
<%= f.text_field :date_end, placeholder: "End Date Available", class: "form-control" %></br>

<%= f.submit "Update Dog" %>
<% end %>

</div>
