<h1>Add Your Pup</h1>
<%= form_for @dog do |f| %>
<%= f.text_field :name, placeholder: "Name", class: "form-control" %></br>
<%= f.text_field :address, placeholder: "Address", class: "form-control" %></br>
<%= f.text_field :longitude, placeholder: "Longitude", class: "form-control" %></br>
<%= f.text_field :latitude, placeholder: "Latitude", class: "form-control" %></br>
<%= f.text_area :description, placeholder: "Description", class: "form-control" %></br>
<%= f.file_field :image, class: "form-control" %>

<%= f.submit "Add Dog" %>
<% end %>
