<h1>Add Your Pup</h1>
<%= form_for @dog do |f| %>
<%= f.text_field :name, placeholder: "Name", class: "form-control" %></br>
<%= f.text_field :address, placeholder: "Address", class: "form-control" %></br>
<%= f.text_area :description, placeholder: "Description", class: "form-control" %></br>
<%= f.text_field :date_start, placeholder: "Available Start Date", class: "form-control" %></br>
<%= f.text_field :date_end, placeholder: "Available Start Date", class: "form-control" %></br>

<%= f.file_field :image %><br>

<%= f.submit "Add Dog", class: "btn btn-primary" %>
<% end %>
