<div class="top-margin">
<div class="container">
    <div class="row product">
        <div class="col-md-5 col-md-offset-0"><%= image_tag(@dog.image, class: "dog-show-img")%></div>
        <div class="col-md-5 col-md-offset-1">
            <h2><%= @dog.name %></h2>
            <p><%= @dog.description %></p><br>
            <h3> Dates Available </h3>
            <p>Start Date: <%= @dog.date_start %></p>
            <p>End Date: <%= @dog.date_end%></p><br>
            <!-- <select>
                <option value="" selected="">Chose Your Size</option>
                <option value="xxl">XXL</option>
                <option value="xl">XL</option>
                <option value="m">M</option>
                <option value="s">S</option>
            </select> -->
            <!-- <h3>$149.90 </h3> -->
            <% if current_owner != nil && current_owner == Owner.find(params[:owner_id]) %>
            <%= button_to "edit dog", edit_owner_dog_path(current_owner, @dog), method: :get, class:"btn btn-primary", type:"button" %><br>
            <%= button_to "delete dog", owner_dog_path(current_owner, @dog), method: :delete, class:"btn btn-danger", type:"button" %>
            <% end %>
            <% if current_sitter != nil && current_sitter.rentals.all? {|rental| rental.pending == false && rental.done_renting == true} %>
            <%= button_to "rent dog",  new_dog_rental_path(@dog), method: :get, class:"btn btn-primary", type:"button" %>
            <% end %>
        </div>
    </div>
    <!-- <div class="page-header">
        <h3>Product Details</h3></div>
    <p>Sed mollis, urna eu tempus facilisis, diam tellus aliquam tortor, et vestibulum ante quam non justo. Nullam luctus rutrum mattis. Maecenas in pharetra mi, vel mollis odio. Morbi non mauris massa. </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <div class="page-header">
        <h3>Reviews<button class="btn btn-primary write-review" type="button">Write a review</button></h3></div>
    <div class="media">
        <div class="media-body">
            <h4>Love this!</h4>
            <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non vestibulum libero posuere. Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus. </p>
            <p><span class="reviewer-name"><strong>John Doe</strong></span><span class="review-date">7 Oct 2015</span></p>
        </div>
    </div>
    <div class="media">
        <div class="media-body">
            <h4>Fantastic product</h4>
            <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non vestibulum libero posuere. Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus. </p>
            <p><span class="reviewer-name"><strong>Jane Doe</strong></span><span class="review-date">7 Oct 2015</span></p>
        </div>
    </div>
    <br>
    <hr>
    <%= link_to "Back", :back, method: :get %>
</div>
<!-- <footer class="site-footer">
    <div class="container">
<<<<<<< HEAD
        <div class="intro">
						<div class="col-lg-4 col-sm-6 item"><%= image_tag(@dog.image, class: "dog-show-img")%>
							<h2><%= @dog.name %></h2>
            <p><%= @dog.description %> </p>
            <h3>Dates Available</h3>
            <p>Start Date: <%= @dog.date_start %> </p>
            <p>End Date: <%= @dog.date_end %> </p>
                <% if current_owner == Owner.find(params[:owner_id]) %>
								<%= link_to "edit dog", edit_owner_dog_path(@dog) %><br>
								<%= link_to "delete dog", owner_dog_path(current_owner, @dog), method: :delete %>
                <% end %>

        <br>
=======
>>>>>>> 9797d30d15a441d77e0851c4375dc85f07308201
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h5>PupShare © 2016</h5></div>
            <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
    </div>
</footer> -->
</div>
