<div class="top-margin">
<div class="container">
    <div class="row product">
        <div class="col-md-5 col-md-offset-0"><%= image_tag(@dog.image, class: "dog-show-img")%></div>
        <div class="col-md-5 col-md-offset-1">
            <h2><%= @dog.name %></h2>
            <p><%= @dog.description %></p><br>
            <h3> Dates Available </h3>
            <p>Start Date: <%= @dog.date_start %></p>
            <p>End Date: <%= @dog.date_end%></p><br>
            <% if current_owner != nil && current_owner == Owner.find(params[:owner_id]) %>
            <%= button_to "edit dog", edit_owner_dog_path(current_owner, @dog), method: :get, class:"btn btn-primary", type:"button" %><br>
            <%= button_to "delete dog", owner_dog_path(current_owner, @dog), method: :delete, class:"btn btn-danger", type:"button" %>
            <% end %>
            <% if current_sitter != nil && current_sitter.rentals.all? {|rental| rental.pending == false && rental.done_renting == true} %>
            <%= button_to "request to share this dog",  new_dog_rental_path(@dog), method: :get, class:"btn btn-primary", type:"button" %><br>

            <% end %>
        </div>
    </div>
    <div class="page-header">
        <h3>Reviews<button class="btn btn-primary write-review" type="button">Write a review</button></h3></div>
        <% @dog.reviews.reverse.each do |review| %>
    <div class="media">
        <div class="media-body">
            <h4><%= review.title %></h4>
            <div> <p><%= review.comment %></p> </div>

            <p><span class="reviewer-name"><strong><%= review.sitter.first %></strong></span><span class="review-date"><%= time_ago_in_words(review.created_at) %> ago</span></p>

        </div>
    </div>
    <% if current_sitter == review.sitter %>
    <%= button_to "Edit Review", edit_dog_review_path(@dog, review), method: :get, class:"btn btn-primary", type:"button" %><br>
    <%= button_to "Delete Review", dog_review_path(@dog, review), method: :delete, class:"btn btn-danger", type:"button" %>
    <% end %>
      <% end %>


    <br>
    <hr>
    <%= link_to "Back", :back, method: :get %>
</div>

</div>
