<<<<<<< HEAD
<div class="container">
<h2>Log in Pup Friend</h2>
=======
<div class="sign-in col-md-4 col-md-offset-4">
<h2>Pup Friend Log In</h2>
>>>>>>> 5e29ea078b5340aaba3b5c8693964dc993a3d519

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  </div>



  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-block btn-success" %>
  </div>
<% end %>

<%= render "sitters/shared/links" %>
</div>
