<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="screen">
      img {
        height: 100px;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <h1>Pupshare</h1>
    <hr>
    <h2>Hey!, <%= @sitter.first %></h2>
    <p>
      Your Rental has been approved. To make arrangements please contact the owner:<b><%= @owner.first %></b>
        at the email address:<b><%= @owner.email %></b> for the dog: <b><%= @rental.dog.name %></b> .
        <hr>
      <b>A little more about <%= @rental.dog.name %>:</b> <%= @rental.dog.description %>
      </p>

    <h2> Thanks for joining and have a great day!  </h2>
  </body>
</html>
