

<div class="top-margin">
	<div class="container">
	    <div class="row product">
	        <div class="col-md-5 col-md-offset-0"><%= image_tag(@sitter.avatar.url, class: "dog-show-img")%></div>
	        <div class="col-md-7">
	            <h2><%= @sitter.first %> <%= @sitter.last %></h2>
	            <p><%= @sitter.description %></p><br>
							<% if current_sitter == Sitter.find(params[:id]) %>
							<%= button_to "edit Pup Friend", edit_sitter_registration_path(@sitter), method: :get, class:"btn btn-primary", type:"button" %>
	        </div>
	    </div>

	    <div class="page-header">
	        <h3>Dogs Pending Approval</h3></div>
	    <div class="media">
	        <div class="media-body">
						<% @sitter.rentals.each do |rental| %>
						<% if rental.pending? %>
	            <h4><%= link_to rental.dog.name, dog_path(rental.dog) %></h4>
							<p>Date Requested: <%= rental.created_at.strftime("%m-%d-%Y") %></p>
								<%= link_to "cancel request", rental_path(rental), method: :delete %><br>
							<% end %>
							<% end %>
	        </div>
	    </div>
			<br>
			<hr>
			<div class="page-header">
					<h3>Dogs I am Currently Sharing</h3></div>
			<div class="media">
					<div class="media-body">
						<% @sitter.rentals.each do |rental| %>
						<% if rental.approved? && rental.done_renting == false %>
							<h4><%= link_to rental.dog.name, dog_path(rental.dog) %></h4>
							<% end %>
							<% end %>
					</div>
			</div>
			<br>
			<hr>
			<div class="page-header">

			<h3>Dogs I Was Approved For</h3></div>
			<div class="media">
					<div class="media-body">
						<% @sitter.rentals %>
						<% @sitter.rentals.each do |rental| %>
						<% if rental.done_renting? %>
							<h4>Dog Name: <%= link_to rental.dog.name, dog_path(rental.dog) %></h4>
							<p>Date Requested: <%= rental.created_at.strftime("%m-%d-%Y") %></p>

							<% end %>
							<% end %>
					</div>
			</div>
	    <br>
			<% end %>
	    <hr>
	    <%= link_to "Back", :back, method: :get %>
	</div>

</div>
